{% extends 'base.html' %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block title %}
    <title>Dashboard</title>
    {% endblock title %}
</head>
{% block body %}
<body class="bg-gray-100 text-gray-900">
    
    
    <!-- Registration Form -->
    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-24 p-6 mt-10">
        <h2 class="text-2xl font-bold text-center mb-4">Register</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.username.label }}</label>
                {{ form.username|add_class:"w-full border focus:ring-2 focus:ring-green-500 outline-none border-gray-300 rounded-lg p-2" }}
            </div>
            <div>
                <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">Email</label>
                {{ form.email|add_class:"w-full border focus:ring-2 focus:ring-green-500 outline-none border-gray-300 rounded-lg p-2" }}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.password.label }}</label>
                {{ form.password|add_class:"w-full border focus:ring-2 focus:ring-green-500 outline-none border-gray-300 rounded-lg p-2" }}
            </div>
            <div>
                <label for="{{ form.password_confirm.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ form.password_confirm.label }}</label>
                {{ form.password_confirm|add_class:"w-full focus:ring-2 focus:ring-green-500 outline-none border border-gray-300 rounded-lg p-2" }}
            </div>
            <button type="submit" class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700">Register</button>
        </form>
        <p class="text-center text-sm text-gray-600 mt-4">Already have an account? <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Login here</a></p>
    </div>
</body>
{% endblock body %}
</html>